<footer class="footer">

    <a class="startscrollicon" href="#header">
        <img src="./images/ico-arrow.svg" alt="Icono para ir a Inicio">
    </a>

    <div class="menufooter">
        <nav class="navfooter">
        <ul class="navfooter__list">
            <li><a href="https://adalab.es" class="navfooter__list--link">ARTICLES</a></li>
            <li><a href="https://adalab.es" class="navfooter__list--link">BOOKS</a></li>
            <li><a href="https://adalab.es" class="navfooter__list--link">EVENTS</a></li>
            <li><a href="https://adalab.es" class="navfooter__list--link">REASONS</a></li>
            <li><a href="https://adalab.es" class="navfooter__list--link">TIPS</a></li>
        </ul>
        </nav>

        <nav class="navrrss">
        <ul class="navrrss__list">
            <li><a href="https://adalab.es" class="navrrss__list--link">TWITTER</a></li>
            <li><a href="https://adalab.es" class="navrrss__list--link">INSTAGRAM</a></li>
            <li><a href="https://adalab.es" class="navrrss__list--link">MASTODON.SOCIAL</a></li>
        </ul>
        </nav>
    </div>

    <div class="license">
        <p>© 2022</p>
        <p>we <i class="fa-solid fa-heart"></i> components</p>
    </div>
    
</footer>